
.frame.pt-8.h-90
  .frame__body.h-100
    = form_with model: note, class: 'h-100' do |form|
      = form.text_field :title
      = form.text_area :content, class: 'markdown h-80'
      .row
        .col
          = link_to 'Cancel', notes_path
        .col
          - if note.persisted?
            = link_to 'Delete', note_path(note), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
          = form.submit class: 'btn-link u-pull-right'