%h1
  = link_to user_path(user) do 
    %i.fa.solid.fa-arrow-left-long

  .u-inline= note.title

.divider

= link_to edit_user_note_path(note.user, note) do
  EDIT
= link_to 'Back', user_path(user)

= note.content_as_html.html_safe

