= turbo_stream_from note

%div{ id: dom_id(note) }

  %h1
    = link_to notes_path do 
      %i.fa.solid.fa-arrow-left-long

    .u-inline= note.title

  .divider

  = link_to edit_note_path(note) do
    EDIT

  = note.content_as_html.html_safe

