!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RandomNeuralFirings
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    %link{:crossorigin => "anonymous", :href => "https://cdn.jsdelivr.net/npm/cirrus-ui@0.6.3/dist/cirrus.min.css", :integrity => "sha256-gWila5F7HGWk0vkshPaH+80Ct4zmCUIy50VAHquVz70=", :rel => "stylesheet"}/
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.8.1/css/all.css", :integrity => "sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Oxygen+Mono:400", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet"}/
    = javascript_importmap_tags
  %body
    %section.h-screen
      = yield
