!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RandomNeuralFirings
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    %link{:crossorigin => "anonymous", :href => "https://cdn.jsdelivr.net/npm/cirrus-ui@0.7.0/dist/cirrus.min.css", :integrity => "sha256-AS3UAL9Jp/s5F+5/A1uZ21kWLb1Jsklu951c8/3GVRc=", :rel => "stylesheet"}/    
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/ac59783e25.js"}
    %link{:href => "https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Oxygen+Mono:400", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet"}/
    = javascript_importmap_tags
  %body
    %section
      - if notice
        %p.alert.alert-success
          = notice
      - if alert
        %p.alert.alert-danger
          = alert

      = render 'shared/menu', user: @user
      .content.pt-8.px-2
        = yield
